table, th, td {
    border: 2px solid salmon;
}

table {
    width: 60%;
    border-collapse: collapse;  /* by default seprate */
    font-family: 'Times New Roman', Times, serif;
    background-color: aliceblue;
}

th {
    height: 40px;
}

th {
    text-align: left;
}

td {
  text-align: center;  
}

table td , th {
    vertical-align: middle;
}